.listContent{
    height: 100%;
    width: 80vw;
    padding-bottom: 64px;
}
.list{
    color: #fff;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: start;
    margin: 0 20px;
    list-style: none;
}
.list li {
    padding-bottom: 6px;
    border: solid 2px #063d7d;
    border-radius: 3px;
    margin-bottom: 24px;
    width: 90vw;
}
.list li p {
    font-style: italic;
    font-size: 12px;
    color:var(--secondary-blue-color);
    padding:6px 0 0 12px;
}

.encabezado{
    display: flex;
    flex-direction: row;
    background-color: #063d7d;
    width: 100%;
    justify-content: space-between;
    padding: 6px 12px;
}
.encabezado p {
    color:#f5d500 !important;
    text-transform: capitalize;
    font-weight: 600;
}
.encabezado h3{
    font-size: 18px;
}
.date{
    text-align: end;
    padding: 6px 12px 0 0;
}
@media(min-width: 720px){
    .listContent{
        display: flex;
        align-items: center;
        justify-content: center;
        overflow: hidden;
        height: 100%;
    }
    .list{ 
        max-width:100vw;
        align-items: start;
        justify-content: start;
        width: 100%;
        height: 100%;
    }
    .list li {
        width: 80vw;
    }
}
