.listContent{
    height: 100%;
    width: 80vw;
    padding-bottom: 64px;
}
.list{
    color: #fff;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 0 20px;
}
.list li {
    padding-bottom: 3px;
    border: solid 2px #063d7d;
    border-radius: 3px;
    margin-bottom: 14px;
    width: 90vw;
}
.list li p {
    font-style: italic;
    font-size: 12px;
    color:var(--secondary-blue-color);
    padding:6px 0 0 12px;
}

.encabezado{
    display: flex;
    flex-direction: row;
    background-color: #063d7d;
    width: 100%;
    justify-content: space-between;
    padding: 3px 12px;
}
.lineaEncabezado{
    background-color: aqua;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.iconAndTitle{
    display: flex;
    gap: 12px;
    align-items: center;
    font-size: 18px;
}
.encabezado h3{
    font-size: 16px;
}
.encabezado p {
    color:#f5d500 !important;
    text-transform: capitalize;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
}
.date{
    text-align: flex-end;
    padding: 6px 12px 3px 0;
    display: flex;
    justify-content: space-between;
    font-weight: 600;
}

.error{
    border: 2px dotted #063d7d;
    background-color: rgb(212, 212, 212);
    border-radius: 6px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 90vw;
    padding: 24px;
    margin-bottom: 72px;
}

.error p {
    color:red;
    font-size: 16px;
    font-weight: 600;

}
@media(min-width: 720px){
    .listContent{
        display: flex;
        align-items: center;
        justify-content: center;
        overflow: hidden;
        height: 100%;
    }
    .list{ 
        max-width:100vw;
        align-items: flex-start;
        justify-content: flex-start;
        width: 100%;
        height: 100%;
    }
    .list li {
        width: 80vw;
    }
    .error{
        width: 80vw;
    }
}
