.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.reportSection {
    color:var(--secondary-blue-color);
    display: flex;
    flex-direction: column;
    width: 90vw;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
    border: 2px solid #063d7d;
    margin-top:5vh; 
}
.reportSection h2 {
    color:#fff;
    text-align: center;
    padding: 6px 0;
}

.header {
    background-color: #063d7d;
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.headerdos{
    display: flex;
    flex-direction: row;
}

.header h2 {
    text-transform: capitalize;
    margin: 1 12px;
}
.header h3 {
    margin: 1px 12px;
}

.bodyReport{
    margin:12px 12px;
}

.bodyReport p {
    margin: 12px;

}
.bodyReport p:first-child{
    text-transform: capitalize;
    font-weight: 600;
}

.footerReport {
    display: flex;
    justify-content: end;
    align-items: end;
    width: 100%;
    gap: 12px;
    padding: 12px 24px;
}
.footerReport p{
    text-transform: capitalize;
    font-size: 14px;
    font-weight: 600;
    font-style: italic;
}

.commentSection {
    color:var(--secondary-blue-color);
}

.commentSection ul {
    list-style: none;
    width: 90vw;
}

.commentSection li {
    border: 1px solid #063d7d;
    border-left-width: 12px;
    border-radius: 3px;
    width: 90vw;
    margin: 12px 0;
}

.commentSection p{
    padding:0 6px 6px 12px;
    font-size: 14px;
}
.commentSection p:last-child{
    font-weight: 600;
    display: flex;
    font-size: 12px;
    align-items: end;
    justify-content: end;
}

.commentSection p:first-child {    
    text-transform: capitalize;
    padding:3px 12px;
    color: #063d7d;
    font-weight: 600;
}

.commentBox {
    width: 80vw;
    margin: 6px 0 72px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.commentBox textarea{
    color:var(--secondary-blue-color);
    background-color: #fff;
    border-radius: 3px;
    width: 90vw;
    height: 64px;
    padding: 12px;
}
.buttonRack {
    margin: 12px 0;
    display: flex;
    gap:12px;
    width: 90vw;
    justify-content: end;
    align-items: end;
    align-content: end;
}
.buttonRack button {
    border:2px solid #063d7d;
    padding: 6px;
    width: 128px;
    background-color: var(--primary-blue-color);
    align-content: center;
    align-items: center;
    border-radius: 3px;
    color:var(--secondary-blue-color);
    transition: ease-in-out 0.2s;
    align-self: flex-end;
}

.btnCerrarReporte{
    border: 2px solid var(--main-blue-color);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80px;
    height: 31px;
    border-radius: 3px;
    color:#fff
}

.error{
    border: 2px dotted #063d7d;
    background-color: rgb(212, 212, 212);
    border-radius: 6px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 80vw;
    padding: 24px;
    margin-bottom: 72px;
}

.error p {
    color:red;
    font-size: 16px;
    font-weight: 600;

}

@media(min-width: 720px){
    .main{
        color:var(--main-blue-color);
        display: flex;
        margin-left: 140px;
        flex-direction: column;
        align-items: start;
        justify-content: start;
        width: 80vw;
    }
    .reportSection{
        width: 80vw;
        margin-bottom: 6px;
    }
    .commentBox{
        align-items: end;
        width: 80vw;
    }
    .commentBox textarea {
        width: 80vw;
    }
    .commentSection li {
        font-size: 14px;
        border: 1px solid #063d7d;
        border-left-width: 12px;
        border-radius: 3px;
        width: 75vw;
        margin: 6px 0;
    }
    .commentSection ul {
        display: flex;
        flex-direction: column;
        align-items: end;
        list-style: none;
        width: 80vw;
    }
    .error{
        width: 80vw;
    }
}