.mainContent{
    color:var(--main-blue-color);
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.mainContent h2{
    padding: 32px;
    width: 80vw;
    display: flex;
    border-bottom: 1px solid var(--main-blue-color);
    margin-bottom: 32px;
}

@media (min-width: 720px){
    .mainContent{
        color:var(--main-blue-color);
        display: flex;
        flex-direction: column;
        margin-left: 140px;
        width: 100%;
        align-items: flex-start;
        justify-content: center;
        align-content: center;
    }
}