.form {
    display: flex;
    flex-direction: column;
    color:var(--main-blue-color);
    width: 90vw;   
    margin: 0 20px;
}

.bodyPost {
    display: flex;
    flex-direction: column;
}

.bodyPost textarea {
    color:#000000;
    border:2px solid #063d7d;
    margin: 6px 0;
    height: 40vh;
    width: 90vw;
    padding: 6px;
    border-radius: 3px;
    background-color: #ffffff;
}

.inputs{
    display: flex;
    gap: 12px;
    flex-direction: row;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}
.inputs input {
    color:#000000;
    border-radius: 3px;
    border:2px solid #063d7d;
    margin: 6px 0 6px 6px;
    width: 200px;
    padding: 6px 12px;
    background-color: #ffffff;
}
.inputs select{
    background-color: #ffffff;
    border: 2px solid #063d7d;
    width: 200px;
    margin: 6px 0 6px 6px;
    padding: 6px 12px;
    border-radius: 3px;
    color: #000000;
}
.btnSend {
    border:2px solid #063d7d;
    padding: 6px;
    background-color: var(--primary-blue-color);
    align-content: center;
    align-items: center;
    border-radius: 3px;
    display: flex;
    flex-direction: row;
    color:var(--main-blue-color);
    transition: ease-in-out 0.2s;
}

.btnSend:hover{
    background-color:#003471 ;
    color: #fff;
}
.btnCerrarReporte{
    border: 2px solid var(--main-blue-color);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80px;
    height: 31px;
    border-radius: 3px;
    color:#fff
}
.buttonRack {
    display: flex;
    align-items: center;
    justify-content: center;
    gap:12px;
    margin-top: 12px;
    height: 32px;
}

@media (min-width: 720px){
    .form {
        width: 80vw;
        display: flexbox;
        margin-left: 0px;
    }
    .bodyPost {
        display: flex;
        flex-direction: column;
        align-items: end;
    }
    .bodyPost textarea {
        height: 240px;
        width: 100%;
        border:2px solid #063d7d;
    }
    .inputs{
        display: flex;
        flex-direction: row;
        gap: 12px;
    }
    .inputs select{
        width: 350px;
    }
    .inputs input{
        width: 350px;
    }
    .btnSend{
        display: block;
        align-self: flex-end;
        padding: 6px 32px;
    }
}

@media (min-width: 1880px){
    .form{
        display: flex;
        flex-direction: row;
    }
    .inputsHeads{
        display: flex;
        flex-direction: column;
        width: auto;
        gap:12px;
        margin-right: 24px;
        align-items: start;
    }
    .inputs {
        width: 22vw;
    }
    .inputs input{
        width: 320px;
    }
    .inputs select{
        width: 320px;
    }
    .bodyPost{
        height: 500px;
        width: 100%;
    }
    .bodyPost textarea{
        height: 400px;
    }

}