.form {
    display: flex;
    flex-direction: column;
    color:#fff;
    width: 90vw;
}

.form textarea {
    color:#000000;
    border:1px solid #063d7d;
    margin: 6px 0;
    height: 40vh;
    padding: 6px;
    border-radius: 3px;
    background-color: #ffffff;
}
.inputs{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}
.inputs input {
    color:#000000;
    border-radius: 3px;
    border:2px solid #063d7d;
    margin: 6px 0 6px 6px;
    width: 200px;
    padding: 6px 12px;
    background-color: #ffffff;
}
.inputs select{
    background-color: #ffffff;
    border: 2px solid #063d7d;
    width: 200px;
    margin: 6px 0 6px 6px;
    padding: 6px 12px;
    border-radius: 3px;
    color: #000000;
}
.btnSend {
    border:2px solid #063d7d;
    padding: 6px;
    background-color: var(--primary-blue-color);
    align-content: center;
    align-items: center;
    border-radius: 3px;
    display: flex;
    flex-direction: row;
    color: #fff;
    transition: ease-in-out 0.2s;
    margin-top: 12px;
}

.btnSend:hover{
    background-color:#003471 ;
}

@media (min-width: 720px){
    .form {
        width: 100%;
    }
    .form textarea {
        width: 500px;
    }
    .btnSend{
        display: block;
        align-self: flex-end;
        padding: 6px 32px;
    }
}