:root {
  /*Colores Institucionales*/
  --main-black-color: #000000;
  --main-blue-color:#0c216e;
  --main-gray-color:#cccccc;
  --main-green-color:#369443;
  --main-yellow-color:#f5d500;
  /*Comunicacion Visual*/
  --secondary-darkblue-color:#003366;
  --secondary-blue-color:#1c5199;
  --secondary-gray-color:#ebebeb;
  --secondary-yellow-color:#f8aa00;

}


@media (prefers-color-scheme: dark) {
  :root {
    --main-blue-color: #0c216e;
    --secondary-blue-color: #ededed;
  }
}

html,
body {
  max-width: 100vw;
  background-color: var(--main-blue-color);
  overflow-x: hidden;
}

body {
  color: var(--secondary-blue-color);
  background-color: var(--main-blue-color);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: #fff;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
