.tableContent{
    display: flex;
    flex-direction: column;
    overflow: scroll;
    overflow-y: hidden;
    width: 95vw;
    margin-left: 12px;
}

.mainTableContent h3 {
    padding: 16px;
    width: 90vw;
    display: flex;
    align-self: flex-start;
    border-bottom: 1px solid var(--main-blue-color);
    margin-bottom: 16px;
}

.table {
    border: 1px solid;
    border-collapse: collapse;
    width: 90vw;
}
.table th {
    border: 1px solid;
    padding-bottom: 3px;
    padding-top: 3px;
}
.table td{
    border: 1px solid;
    padding: 12px 18px;
    text-align: center;
}
.table td:nth-child(2){
    text-transform: capitalize;
}


@media(min-width: 720px){
    .mainTableContent h3{
        width: 80vw;
    }
    .tableContent{
        overflow-y: hidden;
        width: 80vw;
    }
    .table{
        width: 80vw;
    }
}