.navbar {
  height: 60px;
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 9999;
  background-color: var(--main-blue-color);
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
}
.buttonRack {
  display: flex;
  flex-direction: row;
  color: #fff;
  margin: 6px 12px 3px 0;
  align-items: center;
  width: 100%;
  justify-content: space-between;
}
.buttonRack p{ 
  display: none;
}
.adminButtonRack{
  display: flex;
  flex-direction: row;
}
.logo {
    display: none;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
.button {
  display: flex;
  margin: 0 3px 16px 3px;
  font-size: 24px;
  height: 100%;
  width: 100%;
  text-align: center;
  align-items: center;
  justify-content: center;
}
.button p {
  font-size: 14px;
}
.logoutButton{
  color: #fff;
  position: relative;
  top:0;
  margin: 0 3px 16px 3px;
  font-size: 24px;
  height: 100%;
  width: 100%;
  text-align: center;
  align-items: center;
  justify-content: center;
}
.logoutButton p {
  font-size: 14px;
}
@media (min-width: 720px) {
  .navbar {
    height: auto;
    width: 120px;
    top: 0;
    left: 0;
    background-color: var(--main-blue-color);
  }
  .buttonRack {
    display: flex;
    flex-direction: column;
  }
  .buttonRack p{ 
    display: flex;
  }
  .adminButtonRack{
    margin-top: 32px;
    color:#fff;
    display: flex;
    flex-direction: column;
    border-radius: 6px 6px 0 0;
    border-top: 3px solid #fff;
    padding-top: 6px;
  }
  .separator{
    display: flex;
    flex-direction: column;
  }
  .logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  .button {
    margin: 12px 0;
    display: flex;
    flex-direction: row;
  }
}
