.inputs{
    display: flex;
    gap: 12px;
    flex-direction: row;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}

.inputs select{
    padding: 6px;
    width: 25vw;
    border-radius: 3px;
}