.rowCategories{
    display: flex;
    gap: 18px;
    width: 100vw;
    color:#fff;
    background-color: #063d7d;
    margin-bottom: 24px;
    justify-content: space-between;
}
.category{
    border-radius:3px 3px  0 0 ;
    width: 30%;
    padding: 3px;
    text-align: center;
    justify-content: center;
    margin: 6px 6px 0 6px;
}
.category h3{
    font-size: 16px;
}

@media(min-width:720px){
    .rowCategories{
        display: flex;
        gap: 18px;
        width: 80vw;
        color:#fff;
        background-color: #063d7d;
        margin-bottom: 16px;
        justify-content: space-between;
    }
    .category{
        border-radius:3px 3px  0 0 ;
        width: 30%;
        padding: 3px;
        margin-top: 3px;
        height: 100%;
        text-align: center;
    }
    .category h3{
        font-size: 18px;
    }
}