.loginContent{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}

.loginContent h2 {
    padding: 12px 0 24px 0;
    color:#fff;
    text-align: center;
}
.loginForm{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 25%;
    gap:12px;
}

.loginForm input {
    border-radius: 3px;
    width: 220px;
    padding:6px 0;
    color: #fff;
    padding-left: 12px;
    border: 1px solid #063d7d;
    background-color: #003471;
}

.loginForm button {
    width: 220px;
    border:1px solid #063d7d;
    background-color: var(--primary-blue-color);
    align-content: center;
    align-items: center;
    border-radius: 3px;
    display: flex;
    flex-direction: row;
    color: #fff;
    transition: ease-in-out 0.2s;
    
}

.loginForm button i {
    font-size: 24px;

}

.loginForm button:hover{
    background-color:#003471 ;
}
