.mainContentLogin{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.backgroundTop{
    background-color:var(--lightblue-color);
    width: 100vw;
    padding: 40px;
    color:#ffffffc7;
    margin-bottom: 50px;
}
.image{
    padding: 36px 0;
}
.loginContent{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}
.backgroundTop p {
    color:#ffffffc7;
    font-size: 20px;
    margin-top: 12px;
    font-weight: 600;
    font-variant: small-caps;
    text-align: center;
}
.loginForm{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 25%;
    gap:24px;
}
.loginForm input {
    border-radius: 3px;
    width: 320px;
    height: 45px;
    padding:6px 0;
    color: #ffffffc7;
    padding-left: 12px;
    border: 1px solid var(--blue-color);
    background:transparent;
}
.loginForm button {
    width: 320px;
    height: 45px;
    border:1px solid var(--blue-color);
    background-color: var(--primary-blue-color);
    border-radius: 3px;
    color: #ffffff;
    padding: 0 12px;
    display:inline-flex;
    align-items: center;
    justify-content: space-between;
    transition: ease-in-out 0.2s;
}
.loginForm button i {
    font-size: 24px;
}
.loginForm button:hover{
    background-color:#003471 ;
}
